TELEGRAM_TOKEN=8908695663:AAFRplZhdVbyXjDLelmmgcH2gJWfQXLZ9zQ
GEMINI_API_KEY=AIzaSyAZHqEO1RimtsMTgqhsr5WLz_TQlLBqeXQ
# Получи из Firebase Console → Project Settings → Service Accounts → Generate new private key
# Вставь весь JSON в одну строку без переносов
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"ainer-c4ec4",...}
